# Environment variables — NUNCA subir al repositorio
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
